
<h3>Comment for <%= link_to @comment.article.title, article_path(@comment.article) %></h3>
<p>
  <%= @comment.content %>
</p>

<p>
  Submitted At:
  <%= @comment.submitted_at.to_time.strftime('%B %e at %l:%M %p') %> by <%= @comment.user.email %>
</p>

