<h2>All Articles</h2>

<% @articles.each do |article| %>
  <article>
    <h3><%= link_to article.title, article_path(article) %> by <%= link_to article.user.email, user_path(article.user)%>
  </article>
<% end %>

<% if user_signed_in? %>
  <p>
    <%= link_to "New", new_article_path %>
  </p>
<% end %>
